h3{
    color: rgb(14, 2, 4); 
}

body{
    width:200px;
    height:100px;
    border: 2px solid rgb(4, 158, 201);
    border-radius: 10px;
    padding:10px;
    margin:20px;
    background-color:rgb(162, 208, 237);
    box-sizing: content-box;
}

